---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*
WarningsAsErrors: ''
HeaderFilterRegex: '.*[\\/](include|src)[\\/].*'
FormatStyle: file
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '4'
  - key: bugprone-implicit-widening-of-multiplication-result.UseCXXStaticCastsInCppSources
    value: 'true'
...
